[global_config]
  enabled_plugins = ActivityWatch, APTURLHandler, LaunchpadCodeURLHandler, LaunchpadBugURLHandler
  hide_on_lose_focus = False
  inactive_color_offset = 0.96
  title_use_system_font = False
[keybindings]
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
[plugins]
[profiles]
  [[default]]
    background_image = None
    foreground_color = "#ffffff"
    scroll_on_output = False
